[Desktop Entry]
Version=1.0
Type=Application
Name=Tauno Serial Plotter
Comment=Simple serial plotter
TryExec=tauno-serial-plotter
Exec=tauno-serial-plotter.py
Icon=art.taunoerik.tauno-serial-plotter
Categories=Utility;
Keywords=Serial
