# For Flatpak
[Desktop Entry]
Version=1.0
Type=Application
Name=Tauno-serial-plotter
Comment=Simple serial plotter!
TryExec=tauno-serial-plotter
Exec=tauno-serial-plotter
Icon=app/bin/icons/tauno-plotter.svg
MimeType=image/x-svg;