[Desktop Entry]
Version=1.1
Type=Application
Name=Tauno-serial-plotter
Comment=Simple serial plotter!
Exec=/app/bin/tauno-serial-plotter
#TryExec=tauno-serial-plotter
#Exec=tauno-serial-plotter %F
Icon=img/tauno-plotter
MimeType=image/x-svg;