[Desktop Entry]
Version=1.0
Type=Application
Name=Tauno Serial Plotter
Comment=Simple serial plotter
Exec=tauno-serial-plotter
Icon=/usr/share/applications/art.taunoerik.tauno-serial-plotter.svg
Categories=Utility;
Keywords=Serial
